body {
    font: 14px "Century Gothic", Futura, sans-serif;
}

.square {
    background: transparent;
    border: 1px solid transparent;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 48px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 48px;
}

.square:focus {
    outline: none;
}


.dark_square {
    background-color: rgb(119, 76, 45);
}

.light_square {
    background-color: rgb(255, 214, 158);
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
    overflow: hidden;
    background-image: url(background.jpg);
    background-color: #F0F0F0;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;  
}

.game_status {
    font-size: 24px;
    color: white;
    font-weight: 500;
}

.taken_pieces {
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 50px;
}

.game_board {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.board {
    border: 5px solid #000000;
    -webkit-box-shadow: 0 0 20px #DADADA;
        box-shadow: 0 0 20px #DADADA;
}

.button {
    padding: 12px;
    margin: 9px;
}

.game_buttons {
    padding: 30px;
}

.game_button {
    border-radius: 10px;
    padding: 10px;
    margin: 8px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #000000;
    background-color: #FFFFFF;
    color: #000000;
    outline: none;
    -webkit-box-shadow: 0 0 4px #000000;
        box-shadow: 0 0 4px #000000;
}

.game_button:hover {
    background-color: #000000;
    color: #FFFFFF;
    -webkit-box-shadow: 0 0 20px #000000;
        box-shadow: 0 0 20px #000000;
}

.back_button {
    border-radius: 10px;
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 8px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
    background-color: white;
    outline: none;
    -webkit-box-shadow: 0 0 4px #000000;
        box-shadow: 0 0 4px #000000;
}

.back_button:hover {
    background-color: black;
    color: white;
    -webkit-box-shadow: 0 0 20px #000000;
        box-shadow: 0 0 20px #000000;
}

.welcome_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.welcome_button {
    padding: 10px;
    margin: 8px;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid black;
    background-color: white;
    color: black;
    outline: none;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 4px #000000;
        box-shadow: 0 0 4px #000000;
}

.welcome_button:hover {
    background-color: black;
    color: white;
    -webkit-box-shadow: 0 0 16px #000000;
        box-shadow: 0 0 16px #000000;
}

.welcome {
    text-align: center;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 28px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.logo {
    margin-top: 120px;
    -webkit-box-shadow: 0 0 20px #DADADA;
        box-shadow: 0 0 20px #DADADA;
}