body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: #ECECEA;
}

.square {
    background: transparent;
    border: 1px solid transparent;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 48px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 48px;
}

.square:focus {
    outline: none;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    left: 0;
    top: 10%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    background:linear-gradient(rgba(25, 21, 255, 0.822),transparent);
    background-color:rgb(22, 26, 66)
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    left: 20%;
    top: 1%;
    width: 60%;
    position: absolute;
    background:linear-gradient(rgba(196, 196, 196, 0.822),transparent);
    background-color:rgb(134, 134, 134);    
}

.game_border {
    top: 0;
    height: 92%;
    width: 61%;
    background-color: black;
}

.game_status {
    margin-top: 12px;
    margin-bottom: 20px;
    min-height: 50px;
    font-size: 20px;
    color: rgb(240, 240, 240);
}

.taken_pieces {
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 50px;
}

.dark_square {
    background-color: rgb(119, 76, 45);
}

.light_square {
    background-color: rgb(255, 214, 158);
}

#player_turn_box {
    width: 32px;
    height: 32px;
    border: 1px solid #000;
    margin-bottom: 10px;
}

.game_board {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button {
    padding: 12px;
    margin: 9px;
}

.buttons {
    padding: 12px;
}

.debug {
    text-align: center;
    font-size: 24px;
}

.welcome {
    text-align: center;
    color: rgb(240, 240, 240);
    font-size: 32px;
    padding: 18px;
}

.welcome_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.welcome_button {
    padding: 12px;
    margin: 9px;
}

.in_game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back_button {
    padding: 12px;
    margin: 9px;
}

.logo {
    padding-top: 80px;
}

.header {
    height: 10%;
    width: 100%;
    top: 0;
    left: 0;
    background:linear-gradient(rgba(0, 3, 36, 0.822),transparent);
    background-color:rgb(25, 21, 255);
    position: absolute;
    overflow: hidden;
}