body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: #ECECEA;
}

.square {
    background: transparent;
    border: 1px solid transparent;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 48px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 48px;
}

.square:focus {
    outline: none;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game_status, .taken_pieces {
    margin-top: 25px;
    margin-bottom: 25px;
    min-height: 50px;
    font-size: 20px;
}

.dark_square {
    background-color: rgb(133,94,66);
}

.light_square {
    background-color: rgb(218,184,136);
}

#player_turn_box {
    width: 32px;
    height: 32px;
    border: 1px solid #000;
    margin-bottom: 10px;
}

.ai_turn_text {
    text-align: center;
    justify-content: center;
    font-size: 24px;
}

.game_board {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button {
    padding: 12px;
    margin: 9px;
}

.buttons {
    padding: 12px;
}

.debug {
    text-align: center;
    font-size: 24px;
}
